:root { 
--gray_700:#575757; 
--blue_gray_50:#eeeff0; 
--light_blue_600:#1296d9; 
--black_900_3f:#0000003f; 
--gray_300:#dedede; 
--gray_300_01:#e3e4e6; 
--light_blue_900:#0864a9; 
--light_blue_800:#0066b3; 
--gray_100:#f4f4f2; 
--light_blue_800_01:#0983c2; 
--gray_100_03:#f2f2f2; 
--gray_100_02:#f4f5f5; 
--gray_100_01:#f4f5f6; 
--indigo_900:#1d3571; 
--indigo_800_01:#21409a; 
--blue_gray_900:#1a154c; 
--white_A700:#ffffff; 
--indigo_800:#224886; 
--indigo_500:#3363b0; 
--cyan_400:#12bde6; 
--gray_700_01:#666a70; 
}